## Android/Kotlin module ignores (android-native)

# IDE/Project
*.iml
.idea/
.DS_Store
.vscode/
Thumbs.db
$RECYCLE.BIN/

# Gradle/Local
.gradle/
local.properties

# Build outputs
/build/
/captures/
.externalNativeBuild/
.cxx/
app/build/
app/intermediates/
app/tmp/
app/kotlin/

# Packages
*.apk
*.ap_*
*.aab

# Keys & logs
*.keystore
*.jks
*.orig
*.rej
*.log

